<div class="boom-table">
    <div class="edit-tab-with-sidemenu">
        <aside class="edit-sidemenu-aside">
            <ul class="edit-sidemenu">
                <li>
                    <a>
                        <h5 class="text-warning">Patterns</h5>
                    </a>
                </li>
                <li ng-repeat="pattern in ctrl.panel.patterns track by $index" ng-class="{active: ctrl.panel.activePatternIndex === $index}">
                    <a ng-click="ctrl.panel.activePatternIndex = $index">{{ctrl.limitText(pattern.name ||
                        pattern.pattern || 'Default',12)}}</a>
                </li>
                <li ng-class="{active: ctrl.panel.activePatternIndex === ctrl.panel.patterns.length} ">
                    <a ng-click="ctrl.panel.activePatternIndex = ctrl.panel.patterns.length">Default</a>
                </li>
                <li>
                    <a class="pointer" ng-click="ctrl.addPattern()">
                        <i class="fa fa-plus"></i>&nbsp;Add
                    </a>
                </li>
            </ul>
        </aside>
        <div class="edit-tab-content" ng-repeat="pattern in ctrl.panel.patterns.concat([ctrl.panel.defaultPattern]) track by $index"
            ng-if="ctrl.panel.activePatternIndex === $index">
            <div id="boom_editor_row_pattern" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Pattern</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Name of the pattern</label>
                            <input type="text" placeholder="Name" class="gf-form-input width-18" ng-model="pattern.name"
                                bs-tooltip="'Name for the pattern (Just for reference)'" data-ng-if="ctrl.panel.activePatternIndex < ctrl.panel.patterns.length">
                            <label class="width-18 boom-label" data-ng-if="ctrl.panel.activePatternIndex >= ctrl.panel.patterns.length">Default
                                Pattern</label>
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Pattern</label>
                            <input type="text" placeholder="Regex" class="gf-form-input width-18" ng-model="pattern.pattern"
                                bs-tooltip="'Specify regex using /my.*regex/ syntax'" ng-blur="ctrl.render()"
                                data-ng-change="ctrl.render();" data-ng-if="ctrl.panel.activePatternIndex < ctrl.panel.patterns.length">
                            <label class="width-18 boom-label" data-ng-if="ctrl.panel.activePatternIndex >= ctrl.panel.patterns.length">*</label>
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Delimiter</label>
                            <input type="text" placeholder="Delimiter" class="gf-form-input width-4" ng-model="pattern.delimiter"
                                bs-tooltip="'Delimiter to seperate metrics row and col'" ng-blur="ctrl.render()">
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Row Name</label>
                            <input type="text" placeholder="Row Name" class="gf-form-input width-18" ng-model="pattern.row_name"
                                bs-tooltip="'Index of row'" ng-blur="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Col Name</label>
                            <input type="text" placeholder="Col Name" class="gf-form-input width-18" ng-model="pattern.col_name"
                                bs-tooltip="'Index of col'" ng-blur="ctrl.render()">
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_stats" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Stats</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Stat</label>
                            <select class="gf-form-input width-18" ng-model="pattern.valueName" ng-options="f.value as f.text for f in ctrl.valueNameOptions"
                                ng-change="ctrl.render()"></select>
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Format</label>
                            <div class="gf-form-dropdown-typeahead width-18" ng-model="pattern.format"
                                dropdown-typeahead2="ctrl.unitFormats" dropdown-typeahead-on-select="ctrl.setUnitFormat($subItem,$index)"></div>
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Decimals</label>
                            <input type="text" placeholder="2" class="gf-form-input width-4" ng-model="pattern.decimals"
                                bs-tooltip="'Decimals'" ng-blur="ctrl.render()">
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_bg_value_transforms" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Background, Color & Value transformations based on thresholds</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Thresholds</label>
                            <input type="text" placeholder="Thresholds" class="gf-form-input width-18" ng-model="pattern.thresholds"
                                bs-tooltip="'Comma seperated thresholds'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();">
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Enable BG Color based on thresholds?</label>
                            <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_bgColor"
                                ng-blur="ctrl.render()" ng-change="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-20" data-ng-if="pattern.enable_bgColor">BG Colors for
                                thresholds</label>
                            <input type="text" placeholder="green|orange|red" class="gf-form-input width-18" ng-model="pattern.bgColors"
                                bs-tooltip="'BG Colors seperated by | (pipe)'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();"
                                data-ng-if="pattern.enable_bgColor">
                            <button type="button" class="btn btn-primary btn-small" ng-click="ctrl.inverseBGColors($index)"
                                title="Inverse" data-ng-if="pattern.enable_bgColor">Inverse</button>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Enable Text Color based on thresholds?</label>
                            <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_TextColors"
                                ng-blur="ctrl.render()" ng-change="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-20" data-ng-if="pattern.enable_TextColors">Text Colors
                                for
                                thresholds</label>
                            <input type="text" placeholder="green|orange|red" class="gf-form-input width-18" ng-model="pattern.textColors"
                                bs-tooltip="'Text Colors seperated by | (pipe)'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();"
                                data-ng-if="pattern.enable_TextColors">
                            <button type="button" class="btn btn-primary btn-small" ng-click="ctrl.inverseTextColors($index)"
                                title="Inverse" data-ng-if="pattern.enable_TextColors">Inverse</button>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Enable value transform value based on thresholds?</label>
                            <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_transform"
                                ng-blur="ctrl.render()" ng-change="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-20" data-ng-if="pattern.enable_transform">Transform
                                Values for thresholds</label>
                            <input type="text" placeholder="_value_|_value_|_value_" class="gf-form-input width-18"
                                ng-model="pattern.transform_values" bs-tooltip="'value to be printed _value_ represent actual value; seperate by pipe symbol'"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();" data-ng-if="pattern.enable_transform">
                            <button type="button" class="btn btn-primary btn-small" ng-click="ctrl.inverseTransformValues($index)"
                                title="Inverse" data-ng-if="pattern.enable_transform">Inverse</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_time_based_thresholds" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Time based thresholds</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Enable Time based thresholds?</label>
                            <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_time_based_thresholds"
                                ng-blur="ctrl.render()" ng-change="ctrl.render()">
                            <span class="split"></span>
                            <button type="button" class="btn btn-success btn-small" data-ng-if="pattern.enable_time_based_thresholds"
                                ng-click="ctrl.add_time_based_thresholds($index)">Add Time based threshold for this
                                pattern</button>
                        </div>
                    </div>
                    <div data-ng-if="pattern.enable_time_based_thresholds">
                        <div class="gr-form-inline" ng-repeat="time_based_pattern in pattern.time_based_thresholds track by $index">
                            <input type="text" class="inline-form-control" placeholder="Name" ng-model="time_based_pattern.name"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();"> &nbsp;From :
                            <input type="text" class="inline-form-control" placeholder="From" ng-model="time_based_pattern.from"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();"> To :
                            <input type="text" class="inline-form-control" placeholder="To" ng-model="time_based_pattern.to"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();"> On :
                            <input type="text" class="inline-form-control" placeholder="Enabled Days" ng-model="time_based_pattern.enabledDays"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();"> Threshold :
                            <input type="text" class="inline-form-control" placeholder="Threshold" ng-model="time_based_pattern.threshold"
                                ng-blur="ctrl.render()" data-ng-change="ctrl.render();">
                            <button type="button" class="btn btn-danger btn-small" ng-click="ctrl.remove_time_based_thresholds( $parent.$index, $index)">X</button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_bg_value_transforms" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Background, Color & Value overrides</h6>
                        </div>
                        <div class="gr-form-inline">
                            <div class="gf-form">
                                <label class="gf-form-label width-26">Enable BG Color overrides for specific values?</label>
                                <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_bgColor_overrides"
                                    ng-blur="ctrl.render()" ng-change="ctrl.render()">
                                <span class="split"></span>
                                <label class="gf-form-label width-20" data-ng-if="pattern.enable_bgColor_overrides">BG
                                    Color Overrides</label>
                                <input type="text" placeholder="0->red|1->green" class="gf-form-input width-18"
                                    ng-model="pattern.bgColors_overrides" bs-tooltip="'Example : 0->red|1->green '"
                                    ng-blur="ctrl.render()" data-ng-change="ctrl.render();" data-ng-if="pattern.enable_bgColor_overrides">
                            </div>
                        </div>
                        <div class="gr-form-inline">
                            <div class="gf-form">
                                <label class="gf-form-label width-26">Enable Text Color overrides for specific values?</label>
                                <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_TextColor_overrides"
                                    ng-blur="ctrl.render()" ng-change="ctrl.render()">
                                <span class="split"></span>
                                <label class="gf-form-label width-20" data-ng-if="pattern.enable_TextColor_overrides">Text
                                    Color Overrides</label>
                                <input type="text" placeholder="0->red|1->green" class="gf-form-input width-18"
                                    ng-model="pattern.textColors_overrides" bs-tooltip="'Example : 0->red|1->green '"
                                    ng-blur="ctrl.render()" data-ng-change="ctrl.render();" data-ng-if="pattern.enable_TextColor_overrides">
                            </div>
                        </div>
                        <div class="gr-form-inline">
                            <div class="gf-form">
                                <label class="gf-form-label width-26">Enable value transform overrides for specific
                                    values?</label>
                                <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_transform_overrides"
                                    ng-blur="ctrl.render()" ng-change="ctrl.render()">
                                <span class="split"></span>
                                <label class="gf-form-label width-20" data-ng-if="pattern.enable_transform_overrides">Value
                                    transform Overrides</label>
                                <input type="text" placeholder="0->down|1->up" class="gf-form-input width-18" ng-model="pattern.transform_values_overrides"
                                    bs-tooltip="'Example : 0->down|1->up '" ng-blur="ctrl.render()" data-ng-change="ctrl.render();"
                                    data-ng-if="pattern.enable_transform_overrides">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_null_handling" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Null value</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Null Background Color</label>
                            <input type="text" placeholder="darkred" class="gf-form-input width-18" ng-model="pattern.null_color"
                                bs-tooltip="'Color for null data'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();">
                            <span class="split"></span>
                            <label class="gf-form-label width-12">Null Value</label>
                            <input type="text" placeholder="No data" class="gf-form-input width-18" ng-model="pattern.null_value"
                                bs-tooltip="'Value to display for null'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();">
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_cell_links" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Cell Link</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Enable Cell links</label>
                            <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_clickable_cells"
                                ng-blur="ctrl.render()" ng-change="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-12" data-ng-if="pattern.enable_clickable_cells">Cells
                                target URL</label>
                            <input type="text" placeholder="#" class="gf-form-input width-18" ng-model="pattern.clickable_cells_link"
                                bs-tooltip="'Cell target URL'" ng-blur="ctrl.render()" data-ng-change="ctrl.render();"
                                data-ng-if="pattern.enable_clickable_cells">
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_hide_series" class="editor-row">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Hide Series</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-12">Hide if value is below</label>
                            <input type="text" placeholder="Number" class="gf-form-input width-18" ng-model="pattern.filter.value_below"
                                bs-tooltip="'Hide values from display if below this value. Default is empty'" ng-blur="ctrl.render()">
                            <span class="split"></span>
                            <label class="gf-form-label width-13">Hide if value is above</label>
                            <input type="text" placeholder="Number" class="gf-form-input width-18" ng-model="pattern.filter.value_above"
                                bs-tooltip="'Hide values from display if above this value. Default is empty'" ng-blur="ctrl.render()">
                        </div>
                    </div>
                </div>
            </div>
            <div id="boom_editor_row_pattern_managemenr" class="editor-row" data-ng-if="ctrl.panel.activePatternIndex < ctrl.panel.patterns.length">
                <div class="section gf-form-group">
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <h6 class="text-header">Pattern Management</h6>
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Disable Pattern</label>
                            <input type="checkbox" class="width-4" ng-model="pattern.disabled" ng-change="ctrl.render()">
                        </div>
                    </div>
                    <div class="gr-form-inline">
                        <div class="gf-form">
                            <label class="gf-form-label width-26">Pattern management</label>
                            <button class="btn btn-danger btn-small" ng-if="pattern.pattern !== undefined" ng-click="ctrl.removePattern($index)">
                                <i class="fa fa-trash"></i> Remove this pattern
                            </button>
                            <button class="btn btn-success btn-small" ng-if="pattern.pattern !== undefined" ng-click="ctrl.clonePattern($index)">
                                <i class="fa fa-trash"></i> Clone this pattern
                            </button>
                            <button class="btn btn-success btn-small" ng-if="pattern.pattern !== undefined && $index !== 0"
                                ng-click="ctrl.movePattern('UP',$index)">
                                <i class="fa fa-arrow-up"></i>Move the pattern UP
                            </button>
                            <button class="btn btn-success btn-small" ng-if="pattern.pattern !== undefined && $index !== ctrl.panel.patterns.length-1"
                                ng-click="ctrl.movePattern('DOWN',$index)">
                                <i class="fa fa-arrow-down"></i>Move the pattern DOWN
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>