<div class="boom-table edit-tab-with-sidemenu">
    <aside class="edit-sidemenu-aside">
        <ul class="edit-sidemenu">
            <li>
                <a>
                    <h5 class="text-warning">Patterns</h5>
                </a>
            </li>
            <li ng-repeat="pattern in ctrl.panel.patterns track by $index" ng-class="{active: ctrl.panel.activePatternIndex === $index}">
                <a ng-click="ctrl.panel.activePatternIndex = $index">{{ctrl.limitText(pattern.name || pattern.pattern || 'Default',12)}}</a>
            </li>
            <li ng-class="{active: ctrl.panel.activePatternIndex === -1}">
                <a ng-click="ctrl.panel.activePatternIndex = -1">Default</a>
            </li>
            <li>
                <a class="pointer" ng-click="ctrl.addPattern()">
                    <i class="fa fa-plus"></i>&nbsp;Add
                </a>
            </li>
        </ul>
    </aside>
    <div class="edit-tab-content" ng-repeat="pattern in ctrl.panel.patterns track by $index" ng-if="ctrl.panel.activePatternIndex === $index">
        <div class="editor-row">
            <div class="section gf-form-group">
                <div class="gr-form-inline">
                    <div class="gf-form">
                        <label class="gf-form-label width-30">Enable Time based thresholds for {{pattern.name || pattern.pattern || 'Default'}}?</label>
                        <input type="checkbox" class="gf-form-input width-4" ng-model="pattern.enable_time_based_thresholds" ng-blur="ctrl.render()"
                            ng-change="ctrl.render()">
                    </div>
                </div>
                <div id="time_based_thresholds_default" ng-if="pattern.enable_time_based_thresholds === true">
                    <br/>
                    <div class="gr-form-inline" ng-repeat="time_based_pattern in pattern.time_based_thresholds track by $index">
                        <input type="text" class="inline-form-control" placeholder="Name" ng-model="time_based_pattern.name" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> &nbsp;From :
                        <input type="text" class="inline-form-control" placeholder="From" ng-model="time_based_pattern.from" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> To :
                        <input type="text" class="inline-form-control" placeholder="To" ng-model="time_based_pattern.to" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> On :
                        <input type="text" class="inline-form-control" placeholder="Enabled Days" ng-model="time_based_pattern.enabledDays" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> Threshold :
                        <input type="text" class="inline-form-control" placeholder="Threshold" ng-model="time_based_pattern.threshold" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();">
                        <button type="button" class="btn btn-danger btn-small" ng-click="ctrl.remove_time_based_thresholds( $parent.$index, $index)">X</button>
                        <br/>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-success btn-medium" ng-click="ctrl.add_time_based_thresholds($index)">Add Time based threshold for this pattern</button>

                </div>
            </div>
        </div>
        <div class="editor-row">
            <div class="section">
                <h5 class="section-heading text-warning">WARNING: This tab "Time based Thresholds" is for advance usage. You can safely ignore this section if you
                    don't want to use time based thresholds.</h5>
                <br/>
                <h5 class="section-heading text-warning">Note: If multiple matches found last will win; If no match found default threshold will be applicable which
                    was set in
                    <a ng-click="ctrl.changeTab(2)">"Patterns" tab.</a>
                </h5>
            </div>
        </div>
    </div>
    <div class="edit-tab-content" ng-if="ctrl.panel.activePatternIndex === -1">
        <div class="editor-row">
            <div class="section gf-form-group">
                <div class="gr-form-inline">
                    <div class="gf-form">
                        <label class="gf-form-label width-15">Enable Time based thresholds?</label>
                        <input type="checkbox" class="gf-form-input width-4" ng-model="ctrl.panel.defaultPattern.enable_time_based_thresholds" ng-blur="ctrl.render()"
                            ng-change="ctrl.render()">
                    </div>
                </div>
                <div id="time_based_thresholds_default" ng-if="ctrl.panel.defaultPattern.enable_time_based_thresholds === true">
                    <br/>
                    <div class="gr-form-inline" ng-repeat="time_based_pattern in ctrl.panel.defaultPattern.time_based_thresholds track by $index">
                        <input type="text" class="inline-form-control" placeholder="Name" ng-model="time_based_pattern.name" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> &nbsp;From :
                        <input type="text" class="inline-form-control" placeholder="From" ng-model="time_based_pattern.from" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> To :
                        <input type="text" class="inline-form-control" placeholder="To" ng-model="time_based_pattern.to" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> On :
                        <input type="text" class="inline-form-control" placeholder="Enabled Days" ng-model="time_based_pattern.enabledDays" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();"> Threshold :
                        <input type="text" class="inline-form-control" placeholder="Threshold" ng-model="time_based_pattern.threshold" ng-blur="ctrl.render()"
                            data-ng-change="ctrl.render();">
                        <button type="button" class="btn btn-danger btn-small" ng-click="ctrl.remove_time_based_thresholds('default', $index)">X</button>
                        <br/>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-success btn-medium" ng-click="ctrl.add_time_based_thresholds('default')">Add Time based threshold for this pattern</button>
                </div>
            </div>
        </div>
        <div class="editor-row">
            <div class="section">
                <h5 class="section-heading text-warning">WARNING: This tab "Time based Thresholds" is for advance usage. You can safely ignore this section if you
                    don't want to use time based thresholds.</h5>
                <br/>
                <h5 class="section-heading text-warning">Note: If multiple matches found last will win; If no match found default threshold will be applicable which
                    was set in
                    <a ng-click="ctrl.changeTab(2)">"Patterns" tab.</a>
                </h5>
            </div>
        </div>
    </div>
</div>