.boom-table {
    .split {
        margin-right: 20px;
    }
    .btn-small {
        margin-left: 20px;
        .fa {
            margin-right: 5px;
        }
    }
    .boom-label {
        padding-left: 10px;
    }
    .inline-form-control {
        display: inline-block;
        margin: 10px 20px 10px 0px;
        padding: 5px;
    }
    h6.text-header {
        padding: 0 0 10px 0;
        font-weight: bolder;
        i {
            font-weight: 100;
        }
    }
    .debug {
        margin-top: 30px;
        table tr {
            border: 2px solid red;
        }
    }
}