.boom-table .debug{
    margin-top :30px;
}
.boom-table .debug table tr{
    border: 2px solid red;
}
.boom-table .inline-form-control {
    display: inline-block;
    margin: 10px 20px 10px 0px;
    padding:5px;
}
.boom-table .btn-small {
    margin-left: 20px;
}
.boom-table .btn-small .fa{
    margin-right: 5px;
}